<!DOCTYPE html>

<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Cancelar Pedido</title>

    <link
        th:href="@{/css/bootstrap.min.css}"
        rel="stylesheet">

</head>

<body>

<div class="container mt-4">

    <h1>Cancelar Pedido</h1>


    <div class="alert alert-warning">

        Tem certeza que deseja cancelar este pedido?

    </div>


    <table class="table table-bordered">

        <tr>

            <th>Cliente</th>

            <td
                th:text="${pedido.cliente.nome}">
            </td>

        </tr>


        <tr>

            <th>Produtos</th>

            <td>

                <div th:each="item : ${pedido.itens}">

                    <span
                        th:text="${item.produto.nome}">
                    </span>

                    -

                    <span
                        th:text="${item.quantidade}">
                    </span>

                </div>

            </td>

        </tr>


        <tr>

            <th>Valor Total</th>

            <td
                th:text="${pedido.valorTotal}">
            </td>

        </tr>


        <tr>

            <th>Status</th>

            <td
                th:text="${pedido.status}">
            </td>

        </tr>

    </table>


    <form
        th:action="@{/pedido/cancelar/{id}
        (id=${pedido.id})}"
        method="post">


        <button
            type="submit"
            class="btn btn-danger">

            Confirmar Cancelamento

        </button>


        <a
            th:href="@{/pedido}"
            class="btn btn-secondary">

            Voltar

        </a>


    </form>

</div>

</body>

</html>