<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Produtos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

<div class="container mt-4">

    <h1>Produtos</h1>

    <a class="btn btn-primary mb-3"
       th:href="@{/produto/novo}">
        Novo Produto
    </a>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="produto : ${produtos}">

            <td th:text="${produto.nome}"></td>

            <td th:text="${produto.descricao}"></td>

            <td th:text="${produto.preco}"></td>

            <td th:text="${produto.quantidadeEmEstoque}"></td>

            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/produto/edit/{id}(id=${produto.id})}">
                    Editar
                </a>

                <a class="btn btn-sm btn-danger"
                   th:href="@{/produto/delete/{id}(id=${produto.id})}">
                    Excluir
                </a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>